---
layout: page
title: About
---

<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  
  <style media="screen">
    #sidenote{
      font-size: 80%;
    }
    .content {
      padding-top: 65px;
      padding-bottom: 15px;
    }      
  </style>

  <body>

    {% include sidebar.html %}

    <div class="content container">
<!--       {{ content }} -->
      <div id="home">

        <h2>Hello World!</h2>


        <div id=sidenote>
          <p>📝 Side Note: Sujeong(<a href="https://krdict.korean.go.kr/m/eng/searchResultView?mainSearchWord=%EC%88%98%EC%A0%95&ParaWordNo=65333&nationCode=6&nation=eng" 
            target="_blank">수정</a>) means crystal&#128142; in Korean. Hence, the icon of the site title. </p>
        </div>
      </div>
      
    </div>

  </body>
</html>
