<style>
  .profile-photo {
    display: inline;
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  #smallfonts {
    font-size: 15px;
  }
</style>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="profile-photo">
        <img src="https://sujeongcha.github.io/public/sujeong.jpg" class="rounded">
      </div>
      
      <div>
        <h2 style="color:white;display:inline-block;">
          {{ site.title }}
        </h2>
        <a href="https://github.com/sujeongcha">
          <img src="https://img.icons8.com/doodle/48/000000/github--v1.png" style="width:25px;height:25px;display:inline-block;vertical-align:middle;margin-bottom:10px;">
        </a>
        <a href="https://linkedin.com/in/sujeongcha">
          <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" style="width:25px;height:25px;display:inline-block;vertical-align:middle;margin-bottom:10px;">
        </a>
      </div>

      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://sujeongcha.github.io">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

<!--       {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.title == "Study Notes" %}
              <a class="dropdown-btn{% if page.url == node.url %} active{% endif %}">{{ node.title }}
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-container">
                <a href="https://sujeongcha.github.io/studyNotes/nlp.html">NLP</a><br>
                <a href="https://sujeongcha.github.io/studyNotes/algorithms.html">Algorithms</a>
              </div>
            {% else %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %} -->
      
      <a class="sidebar-nav-item" href="https://sujeongcha.github.io/about">About</a>
      <a class="sidebar-nav-item" href="https://sujeongcha.github.io/projects/index.html">Projects</a>
      <a class="dropdown-btn">Study Notes
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-container">
        <a href="https://sujeongcha.github.io/studyNotes/nlp.html">NLP</a><br>
        <a href="https://sujeongcha.github.io/studyNotes/algorithms.html">Algorithms</a>

    </nav>

    <p>
      <div id="smallfonts">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</div>
      <div id="smallfonts">Last modified {{ site.version }}</div>
    </p>
  </div>
</div>

<script>
  //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>

